body {
	overflow-x: hidden;
	min-width: 320px;
	color: #fff;
	@include fontsecondary(300);
	font-size: 17px;
	line-height: 26px;
}

.container {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-section {
	min-height: 100vh;
	background-image: url('../img/page-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: relative;
	padding: 74px 0 50px 0;
}

.title {
	@include fontmain(400);
	font-size: 44px;
	line-height: 53px;
	margin-bottom: 55px;
	padding-left: 25px;
	padding-top: 175px;
}

.scroll-btn {
	position: absolute;
	bottom: 30px;
	@include hcenter;
}

.logo {

   &__img {
   }
}