.header {
   position: fixed;
   left: 0;
   top: 30px;
   right: 0;
   z-index: 9999;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 30px;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 17px;
      @include fontsecondary(500);
   }

   &__info {
   }

   &__btn {
      color: #fff;
      padding: 7px 28px;
      outline: none;
      background: none;
      border: 1px solid #fff;
      border-radius: 3px;
      cursor: pointer;
      text-transform: uppercase;
      @include transition;

      &:hover {
         background-color: #fff;
         color: $black;
      }
   }

   &__phone {
      @include fontsecondary(700);
      font-size: 16px;
      line-height: 18px;
      margin-left: 8px;
   }
}
.menu {

   &__list {

   }

   &__list-item {
      display: inline-block;
      transition: 1s;
      opacity: 0.5;

      & + .menu__list-item {
         margin-left: 20px;
      }

      &:hover {
         opacity: 0.75;
      }

      &.active {
         transform: translateY(15px) scale(1.2);
         opacity: 1;
      }
   }

   &__list-link {
   }
}
