@mixin fontmain {
	font-family: 'SFProDisplay', sans-serif;
}
@mixin fontsecondary {
	font-family: 'Ubuntu', sans-serif;
}
@mixin transition {
	transition: all .3s;
}
@mixin hcenter {
	left: 50%;
	transform: translateX(-50%);
}
@mixin vcenter {
	top: 50%;
	transform: translateY(-50%);
}
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}